:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body{
     width: 100%;
     height: 100vh;
 }
 h1{
     text-align: center;
     color: maroon;
     font-weight: 900;
     text-shadow: 1px 1px 10px black;
 }

 #controls{
     display: flex;
     width: 100%;
     height: 100px;
     flex: 1;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }
 button{
     margin: 1rem                                                                                                                                                                                        ;
     padding: .5rem;
     position: relative;
     background-color: maroon;
     color: whitesmoke;
     font-size: 15px;
     box-shadow: 1px 10px 5px #000;
 }
 button:hover{
    top: 5px;
    box-shadow: 1px 1px 5px #000;
 }
 label{
     font-weight: 800;
 }
#grid-container{
    display: grid;
    border: 55px solid maroon;
    border-radius: 10%;
    /* grid-gap: 1em; */
    margin-right: auto;
    margin-left: auto; 
    /* smargin-top: 150px; */
    width: 780px;
    height: 700px;
    margin-bottom: 50px;
}

.grid-item {
    /* border: 1px solid #d3d; */
    text-align: center;
}

footer{
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    border: 2px solid maroon;
    /* padding: .5rem; */
}
footer h4{
    margin: .5rem
}

#footer-link{
    text-decoration: none;
    padding: 5px;
    color: maroon;
}
#footer-link:hover{
    text-transform: uppercase;
}